<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="!(checkModelPage$ | async); else modelComp" fxLayout="column">
  <div class="top" fxFlex="100px" class="top" style="text-align:center">
    <h1 i18n>
      Welcome to {{ title }}!
    </h1>
    <a i18n *ngIf="(auth.isAuthenticated | async) === false; else logout" class="logBut && confBut" mat-button logBut [routerLink]="['/login']">LOGIN</a>
    <ng-template #logout>
      <button mat-button logBut class="logBut && confBut" (click)="logoutOfTheAccount()">
        <span i18n>LOGOUT</span>
        </button>
    </ng-template>
  </div>
</div>
<ng-template #modelComp>
  <div>
    <a i18n *ngIf="(auth.isAuthenticated | async) === false; else logout" class="logBut && confBut" mat-button logBut [routerLink]="['/login']">LOGIN</a>
    <ng-template #logout>
      <button mat-button logBut class="logBut && confBut" (click)="logoutOfTheAccount()">
        <span i18n>LOGOUT</span>
      </button>
    </ng-template>
  </div>
</ng-template>

<!-- <div fxLayout="column" fxLayoutAlign="end">
    <div fxFlexAlign="end">
      <a *ngIf="(auth.isAuthenticated | async) === false; else logout"
       class="confBut" mat-button [routerLink]="['/login']">LOGIN</a>
    </div>
    <div [style.margin.px]="10" fxFlexAlign="end">
      <ng-template #logout>
        <button mat-button class="confBut" (click)="logoutOfTheAccount()">LOGOUT</button>
      </ng-template>
    </div>
  </div> -->

<router-outlet></router-outlet>