<div fxLayout="column">
<p i18n fxFlexAlign="center" *ngIf="error$ | async; else loading">
  Failed to login
  <a mat-button class="confBut" routerLink="/login" i18n>Login</a>
</p>
<ng-template fxFlexAlign="center" #loading>
  <div fxLayout="column" fxFlexOffset="50px" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
    <span i18n>Auth in progress</span>
  </div>
</ng-template>
</div>