
<div fxLayout="column" *ngIf="(auth.isAuthenticated | async) === true">
    <a fxFlexOffset="50px" fxFlexAlign="center" 
     class="attract" mat-stroked-button routerLink="/files" i18n>GO TO FILES</a>
</div>