div.main
{
 background-color: blue;
}
div.second1
{
    background-color: chartreuse;
}
div.second2
{
    background-color: crimson;
}

mat-list-item {
    cursor: pointer;
}
.selected
{
    background-color: rgb(219, 219, 219);
}

mat-nav-list.catalogs
{
    overflow-y: scroll;
    max-height: 550px;
}