
<div fxLayoutAlign="left" fxLayout="row">
  <button mat-button class="confBut" fxFlexAlign="end" (click)="addCATALOG = !addCATALOG">
    <mat-icon mat-list-icon>create_new_folder</mat-icon>
    <span i18n> Add new catalog</span>
  </button>
</div>
<div *ngIf="addCATALOG">
  <mat-form-field class="example-full-width" [style.max-width.%]="20">
    <input matInput placeholder="Enter name of new catalog" i18n-placeholder #name>
  </mat-form-field>
  <button mat-button class="confBut" (click)="addNewCatalog(name.value); addCATALOG = false">
    <span i18n>Add</span>
  </button>
</div>

<div *ngIf="info$ | async; let info; else loading">
  <div fxFlexAlign="start end" fxFlex="30%"  fxLayout="column">
    <mat-nav-list class="catalogs" *ngIf="info.catalogs; else noCatalogs">
      <h3 i18n mat-subheader>Catalogs:</h3>
      <mat-list-item *ngFor="let c of info.catalogs" [class.selected]="info.selectedId === c.id" (click)="openCatalog(c.id)">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line fxFlexALign="start" fxFlexOffset="4px">{{c.name}}</h4>
        <button mat-icon-button matTooltip="Delete" color="accent" fxFlexALign="end" fxFlexOffset="10px"
         (click)="openDialogDelCatalog($event, c)">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-nav-list>
    <ng-template #noCatalogs>
        <div fxLayout="column">
          <div fxLayout="column" fxFlex="50px" fxLayoutAlign="center">
            <span i18n fxFlexOffset="100px" fxFlexAlign="center">There are no any catalogs.</span>
          </div>
        </div>
        </ng-template>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div fxFlex fxFlexAlign="end start" fxLayout="column" fxLayoutGap="50px" *ngIf="info.folder"
  (drop)="dropHandler($event, info.folder.id)" (dragover)="dragOverHandler($event)">
    <mat-nav-list>
      <ng-container *ngIf="info.folder.files.length > 0; else upload">
          <h3 i18n mat-subheader>Files:</h3>
        <mat-list-item *ngFor="let f of info.folder.files" (click)="openModel(f.id)">
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line fxFlexALign="start">{{f.name}}</h4>
          <p mat-line i18n> {{f.modifiedAt | date}} </p>
          <button mat-icon-button matTooltip="Delete" i18n-matTooltip color="accent" fxFlexALign="end" fxFlexOffset="10px"
           (click)="openDialogDelFile($event,f)">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>
      </ng-container>
      <ng-template #upload>
        <div fxLayout="column">
          <div fxLayout="column" fxFlex="50px" fxLayoutAlign="center">
            <span i18n fxFlexOffset="100px" fxFlexAlign="center">There are no any files in this folder yet. Press UPLOAD to add files</span>
          </div>
        </div>
        </ng-template>
    </mat-nav-list>
    <button fxFlexAlign="center" mat-button class="confBut" [class.attract]="info.folder.files.length===0"
     (click)="fileInput.click()">
     <mat-icon mat-list-icon>archive</mat-icon>
      <span i18n> UPLOAD</span>
    </button>
    <input type="file" #fileInput [style.display]="'none'" (change)="uploadFile($event, info.folder.id)">
    <h3 fxLayoutAlign="end" i18n> current folder: {{info.folder.name}}</h3>
  </div>
</div>
<ng-template #loading>
    <div fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
        <span i18n>Loading</span>
      </div>
</ng-template>