<div fxLayout="column" fxLayoutAlign="start center">
  <form class="first" *ngIf="(checkSendEmail === 0 || checkSendEmail === -1) && authInProgress===false" class="example-form" fxLayout="column"
    fxLayoutAlign="start center">
    <mat-form-field fxFlexOffset="100px" class="example-full-width" [style.max-width.%]="20">
      <input matInput i18n-placeholder placeholder="Enter email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <button class="confBut" mat-button (click)="authInProgress=true; login(email)">
      <span i18n>Send</span>
    </button>
  </form>
  <div fxLayout="column" *ngIf="authInProgress" fxFlexAlign="center">
    <mat-spinner fxFlexOffset="100px"></mat-spinner>
    <span fxFlexAlign="center" i18n>Loading</span>
  </div>
</div>
  <div fxLayout="column" fxLayoutAlign="start center"
   *ngIf="(checkSendEmail === -2 || checkSendEmail === 1) && authInProgress===false">
    <p fxFlexOffset="100px" *ngIf= "checkSendEmail === 1" i18n>
      Well done! We sent the link to your email adress. Follow this link or enter the token to open your page.
    </p>
    <div fxFlexOffset="40px" fxLayout="row" fxFlexAlign="center">
    <mat-form-field class="example-full-width" [style.max-width.px]="200">
      <input matInput i18n-placeholder placeholder="Enter token" #token fxLayoutAlign="center center">
    </mat-form-field>
    <button fxLayoutAlign="center" class="confBut" mat-button
    (click)="authInProgress = true; goToFiles(email, token.value)" i18n>Go to files</button>
  </div>
  </div>
  <div fxLayoutAlign="center"
  *ngIf= "(checkSendEmail === -1) && !authInProgress">
    <p i18n>Failed to send email</p>
  </div>
  <div fxLayoutAlign="center"
  *ngIf= "(checkSendEmail === -2) && !authInProgress">
    <p i18n>Wrong token!</p>
  </div>