.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-form-field {
    max-width: 50%;
  }
  div.main
{
 background-color: blue;
}
div.second1
{
    background-color: chartreuse;
}
div.second2
{
    background-color: crimson;
}

