
<div *ngIf= "file$ | async; let f; else loading">
    <a mat-button class="confBut" routerLink="/files" [queryParams]="{ id: f.catalogId}">
      <mat-icon>arrow_back</mat-icon>
      <span i18n>BACK TO FILES</span>
    </a>
  <mat-list  fxLayout="column">
  <mat-list-item>
    <h3>File information:</h3>
  </mat-list-item>
  <mat-list-item>
    file ID: {{f.id}}
  </mat-list-item>
  <mat-list-item>
    file name: {{f.name}}
  </mat-list-item>
  <mat-list-item>
    file preview: {{f.preview}}
  </mat-list-item>
  <mat-list-item>
    file shared?  {{f.shared}}
  </mat-list-item>
  <mat-list-item>
    file parentID {{f.parentId}}
  </mat-list-item>
  <mat-list-item>
    file catalogID {{f.catalogId}}
  </mat-list-item>
  <mat-list-item>
    file sku {{f.sku}}
  </mat-list-item>
  <mat-list-item>
    file modifiedAt {{f.modifiedAt}}
  </mat-list-item>
</mat-list>
</div>
<ng-template #loading>
    <div fxLayout="column" [style.margin.px]="40" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
        <span i18n>Loading</span>
      </div>
</ng-template>