@import "~@angular/material/prebuilt-themes/indigo-pink.css";
a.confBut
{
    background-color: thistle;
    margin: 10px;
}
button.confBut
{
    background-color: thistle;
    margin: 10px;
}
.attract
{
    background-color: rgba(245, 28, 216, 0.63);
    margin: 10px;
}
.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }